{% extends 'foundation.html.twig' %}

{% block body %}
  <div id="map" style="width: 800px; height: 600px; border: 1px solid #ccc"></div>

    <div id='delete'>Delete Features</div>
    <a href='#' id='export'>Export Features</a>

  {% endblock %}

{% block stylesheets %}

 
    <style>
    body {
            margin: 0;
            padding: 0;
        }
        #mmap {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
        #delete, #export {
            position: absolute;
            top:50px;
            right:10px;
            z-index:100;
            background:white;
            color:black;
            padding:6px;
            border-radius:4px;
            font-family: 'Helvetica Neue';
            cursor: pointer;
            font-size:12px;
            text-decoration:none;
        }
        #export {
            top:90px;
        }
    </style>
{% endblock %}
