{% extends 'clean.html.twig' %}

{% block body %}
<script>
$(document).ready(function()
{
$( "#mostra_gruppo" ).click(function() {

  $( "#mostra_idutente" ).hide( "slow", function() {});
      $( "#mostra_gruppo" ).show( "slow", function() {});

          $('#mostra_idutente').val('');  
});

$("label[for='mostra_idutente']").click(function() {

  $( "#mostra_gruppo" ).hide( "slow", function() {});
    $( "#mostra_idutente" ).show( "slow", function() {});
      $('#mostra_gruppo').val('');  
});
});

</script>
<div class="row">

<h1>Filtra Grafici</h1>
             <p>
		{{ form_start(filtro) }}
		{{ form_widget(filtro) }}
		{{ form_end(filtro) }}
      </p>
      
</div>


{% endblock %}

